<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Shashikiran.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/shashikiran-s-a7a8891a1" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Shashi0620" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:shashikiranss007@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <!-- <a href="https://twitter.com/shashi" target="_blank">
          <i class="fab fa-twitter"></i>
        </a> -->
      </div>
    </div>
  </div>
</footer>
