<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                
                <p>
                    <img src="../../assets/shashi2.jpeg" alt="Barbara at a restaurant in SP" class="about-picture">
                </p>
                <p class="default-p">
                    My name is Shashikiran and I enjoy <span class="default-highlight">developing Web and Mobile
                        applications.</span>
                </p>
                <p class="default-p">
                    I am a Software Developer from <span class="default-highlight">India</span>. <span class="default-highlight">Kannada</span> is my native tongue and I am fluent in
                    <span class="default-highlight">English</span>.
                </p>
                <p class="default-p">During my college days, I discovered a profound interest in developing web
                    applications. My journey began with simple HTML and CSS projects, which quickly evolved into more
                    complex applications using <span class="default-highlight">JavaScript and backend technologies.</span>
                         The ability to create interactive
                    and dynamic websites fascinated me and drove me to delve deeper into web development.
                </p>
                <p class="default-p">
                    Fast-forward to today, and so far I have had the privilege of working with fantastic
                    people in the industry.
                </p>
                <p class="default-p">
                    I had the chance to code in <span class="default-highlight">
                        different technologies</span> and also grow important <span class="default-highlight">
                        soft skills</span>: <br> I led transformative changes to improve team dynamics
                    and organizational culture inside a tech company. I have acquired code knowledge while working with
                    groups of
                    developers and studying documentation. I gained experience in programming logic,
                    enhanced software craftsmanship, <span class="default-highlight">developed websites</span>,
                    <span class="default-highlight">REST APIs</span>,
                    <span class="default-highlight">built visual dashboards</span>, and <span class="default-highlight">
                        retrieved and processed data</span> from various sources.
                </p>
                <!-- <p>
                    <img src="../../assets/shashi2.jpg" alt="Barbara at the Andes mountains, Chile"
                        class="about-picture">
                </p>    -->
                <p class="default-p">
                    But that's on a professional side. On a personal note, other things about me include: I have a
                    have interest in watching <span class="default-highlight">
                        documentry videos</span>, <span class="default-highlight">Car and bike riding, Fitness and playing cricket</span>.
                </p>
                <p class="default-p">
                    I am continuously learning and adapting to new technologies and methodologies.
                    My goal is to create efficient, scalable, and user-friendly <span class="default-highlight">software
                        solutions that make a difference</span>. Whether it's front-end development, back-end services,
                    or full-stack applications, I am <span class="default-highlight">passionate about every aspect
                        of software development.</span>
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Reach out.</h2>
                    <p class="default-p">
                        Follow me on social media, check out my Github account for projects or
                        <span class="default-highlight">reach out to arrange a meeting</span>.
                        I would be happy to know how my <span class="default-highlight">problem-solving skills</span>
                        can contribute to<span class="default-highlight"> address the challenges you are facing</span>.
                    </p>
                    <button>
                        <a routerLink="/contact">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>