<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/shashi2.jpeg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title">
                SHASHIKIRAN S
            </h2>
            <h1 class="default-highlight">FULL STACK DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/shashikiran-s-a7a8891a1" target="_blank">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/Shashi0620" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:shashikiranss007@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I'm always happy to collaborate organizations and explore innovative solutions.
                If you're looking for a dedicated software developer to bring your ideas to life,
                let's arrange a call. Let's discuss how <span class="default-highlight">
                we can work together to achieve your goals</span>.
            </p>
            <button>
                <a href="https://www.linkedin.com/in/shashikiran-s-a7a8891a1" target="_blank">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
