<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group heading="Languages." [panelClass]="customClass" class="accordion-title">
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Advanced <strong><span class="default-highlight">Hindi</span></strong></p>
        <p>Native <strong><span class="default-highlight">Kannada</span></strong></p>
      </div>
    </accordion-group>

    <accordion-group heading="University." panelClass="customClass" class="accordion-title">
      <div class="accordion-text">
        <p>2022 - Garden City University - <strong><span class="default-highlight">Information
              Technology</span></strong> - Master's Degree</p>
        <ul>
          <li>
            Final Project | Books Store Application
          </li>
        </ul>
        <p>2020 - Banglore University - <strong><span class="default-highlight">Computer Science</span></strong> -
          Bachelor's Degree</p>
        <ul>
          <li>
            Final Project | Online Pet Shop Management
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group heading="Technical." panelClass="customClass" class="accordion-title">
      <div class="accordion-text">
        <p>JSpiders - <strong><span class="default-highlight">Fullstack Development with Java, Spring and
              Angular</span></strong></p>
        <ul>
          <li>
            A software development course focused on Fullstack applications. Technologies include
            Java, Spring Boot, Web, Data JDBC, MySQL, and as well as Angular, Typescript, Javascript, HTML, CSS.
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group heading="Techs I use." panelClass="customClass" class="accordion-title">
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-nodejs-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-nestjs-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-express-original-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-mongodb-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark"></i>
        </div>



        <div class="tech-cell">
          <i class="devicon-html5-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-vscode-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-postman-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-npm-original-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-git-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain-wordmark"></i>
        </div>
      </div>
    </accordion-group>

  </accordion>

</div>