<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">FULL STACK DEVELOPER.</h1>
        <h2 class="home-author">SHASHIKIRAN S,</h2>
        <h3 class="home-author"><span id="dynamic-text">{{ dynamicText }}</span></h3>
        <blockquote>
          Full Stack Developer with 2 years of hands-on experience in designing, developing web applications using Node.js and Angular technologies. Adept at working across both front-end and back-end components, I bring a strong understanding of full-stack development processes, with a proven track record in creating web applications. Committed to continuous learning and implementing best practices to enhance application performance and user experience.
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  